{% extends "base.html" %}
{% from 'bootstrap/wtf.html' import quick_form %}

{% block app_content %}
    <div class="page-header">
      <h1>Dosyalarım</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ quick_form(form) }}
        </div>
    </div>


  <table class="table table-condensed">
  <thead><th>Dosya Adı</th><th>Boyut (Kb)</th><th>Yükleme Tarihi</th><th></th></thead>

  {% for file_path in user_files_path.glob('*') %}
    <tr>
      <td>{{ file_path.relative_to(current_user.upload_dir) }}</td>
      <td>{{ file_path.stat().st_size}}</td>
      <td>{{ file_path.stat().st_mtime | get_time }}</td>
      <td><a href="{{url_for('files.download', filename=file_path.relative_to(current_user.upload_dir))}}"><span class="glyphicon glyphicon-download-alt"></span></a></td>
      <td><a href="{{url_for('files.delete', filename=file_path.relative_to(current_user.upload_dir))}}"><span class="glyphicon glyphicon-remove"></span></a></td>
    </tr>
  {% endfor %}

  </table>

{% endblock %}
