<html>
    <head>
        {{ bootstrap.load_css() }}
        <title>{{ title }} - Microblog</title>
    </head>
    <body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <a href="/">Ana sayfa</a> | {% if current_user.is_authenticated %} <a href="{{url_for('auth.logout')}}">Çıkış</a>  {% else %} <a href="{{url_for('auth.login')}}">Giriş</a> | <a href="{{url_for('auth.register')}}">Kayıt Ol</a> {% endif %}

    {% block body %}
    {% endblock %}

    {{ bootstrap.load_js() }}
    </body>
</html>
