<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ bootstrap.load_css() }}

        <title>
        {% if title %}
            {{ title }} - Microblog
        {% else %}
            Microblog Uygulamasına Hoşgeldiniz
        {% endif %}
        </title>
    </head>
    <body class="d-flex flex-column vh-100">

<header>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('index.index')}}">Microblog</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      

    </ul>
           <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            {% if current_user.is_anonymous %}
            <a class="nav-link" href="{{url_for('auth.login')}}">Giriş</a>
            {% else %}
            
                <a class="navbar-brand dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <img src="{% if current_user.profile.avatar %}data:image/png;base64, {{current_user.profile.avatar}}{%else%}/static/noavatar.png{%endif%}" style="height:35px" class="rounded-pill"> 
                </a>
            
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Çıkış</a></li>
                <li><a class="dropdown-item" href="{{url_for('auth.profile')}}">Profilim</a></li>
            </ul>
            
           </li> 
            {% endif %}
      </ul>
  </div>
</nav>

</header>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="toast">
    {% for category, message in messages %}      
      <div class="alert alert-{{category}}" style="position:fixed; left: 50%; transform: translate(-50%, 0);">{{ message }}</div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<main class="flex-shrink-0">
<div class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer mt-auto">
    <div class="container ">
    <p class="text-center text-muted">OMÜ BÖTE Web Araçları ile Veri Yönetimi</p>
    </div>
</footer>
</div>


{{ bootstrap.load_js() }}

<script>
toastExample = document.querySelector('.toast')
toast = new bootstrap.Toast(toastExample)
toast.show()

</script>

    </body>
</html>
