<!doctype html>
<html>
    <head>
        <title>
        {% if title %}
            {{ title }} - Microblog
        {% else %}
            Microblog Uygulamasına Hoşgeldiniz
        {% endif %}
        </title>
    </head>
    <body>
Microblog: <a href="{{url_for('index.index')}}">Ana Sayfa</a> 
           <a href="{{url_for('auth.login')}}">Giriş</a>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  {% endif %}
{% endwith %}

<hr>
    {% block content %}{% endblock %}

<hr>
Footer
    </body>
</html>
