{% from 'macros.html' import display_post %}
{% extends 'base.html' %}

{% block content %}

        <h1>Merhaba, 
        {% if current_user.is_anonymous %}
           Misafir Kullanıcı !
        {% else %}
            {{ current_user.username }} [{{ current_user.email }}]!
        {% endif %}
        </h1>
        
    <hr>
    {% if current_user.is_authenticated %}
        <a href="{{url_for('post.new')}}" class="btn btn-info">Yeni İleti</a>
        <h2>Son iletim</h2>
        {% if user_last_post %}         
            {{ display_post(user_last_post) }}
                  
         {% else %}
         <font color="red">Henüz bir iletiniz yok</font>
         {% endif %}
         <br>
         <h2>Diğer Kullanıcılardan</h2>
        {% for post in posts %}
                        
            {{ display_post(post, button=True) }}

        {% endfor %}
    {% else %}
        İletileri görmek için giriş yapmalısınız. Üye değilseniz <a href="{{url_for('auth.register')}}">buradan</a> üye olabilirsiniz.
    {% endif %}

{% endblock %}
