{% macro display_post(post, button=False) %}

    <div class="card">
      <div class="card-header">
        {{ post.date }} - {% if post.author.profile %}{{ post.author.profile.name }} {{ post.author.profile.lastname }} {% else %} {{ post.author.username }} {% endif %} 
        
        {% if button %}
            <a href="{{url_for('post.response', id=post.id)}}" class="badge bg-success text-decoration-none float-end">Cevapla</a>
        {% endif %}
      
      </div>
      <div class="card-body">
        {{ post.body }}
        {% if post.comments.all() %}
          <div class="card-footer">
          {% for comment in post.comments %}
             <li>{{ comment.date }} tarhinide <b>{%if comment.author.profile %} {{comment.author.profile.name}} {{comment.author.profile.lastname}} {% else %} {{ comment.author.username }} {% endif %} </b> tarafından yazılan cevap: <i> {{ comment.body }}</i></li>
          {% endfor %}
          </div>
        {% endif %}
       
      </div>
    </div>
    <br>

{% endmacro %}
