<html>
<head>
    <title>Günün Menüsü</title>
</head>
<body>
<table border="1">
<h1>{{data['tarih']}}</h1>
<tr><th>Kahvaltı</th><th>Öğle Yemeği</th><th>Akşam Yemeği</th>
<tr>
    <td>
        <ul>
            <li> {{data['kahvalti_1']}}
            <li> {{data['kahvalti_2']}}
            <li> {{data['kahvalti_3']}}
            <li> {{data['kahvalti_4']}}
        </ul>
    </td>
    
    <td>
        <ul>
            <li> Çorba
            <li> Kuru fasulye
            <li> Pilav
            <li> Turşu
        </ul>
    </td>

    <td>
        <ul>
            <li> Salata
            <li> Makarna
            <li> Kadayıf
        </ul>
    </td>

</tr>

</table>
</body>
</html>
