{% extends 'base.html' %}
{% block app_content %}

    <div class="page-header">
      <h1>Postalarım</h1>
      <p><a href="{{url_for('mail.write')}}">Yeni posta yaz</a></p>
      <ul class="nav nav-tabs">
        <li {% if mailbox=='inbox' %}class="active"{% endif %}><a href="{{url_for('mail.index', mailbox='inbox')}}">Gelen</a></li>
        <li {% if mailbox=='outbox' %}class="active"{% endif %}><a href="{{url_for('mail.index', mailbox='outbox')}}">Giden</a></li>
      </ul>
    </div>


  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{% if mailbox=='inbox' %}Gönderen{% else %}Alan{%endif%}</th>
        <th>Konu</th>
        <th>Gönderi Tarihi</th>
      </tr>
    </thead>
    <tbody>

    {% for message in messages %}
      <tr {% if mailbox=='inbox' and not message.read %}class="success"{% endif %}>
        <td>{% if mailbox=='inbox' %}{{message.sender.username}}{% else %}{{message.receiver.username}}{%endif%}</td>
        <td><a href="{{url_for('mail.index', mailbox=mailbox, show=message.id)}}">{{message.title}}</a></td>
        <td>{{message.timestamp.ctime()}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  {% if show_message %}
     <p><b>Alan</b>: {{show_message.receiver.username}}</p>
     <p><b>Gönderen</b>: {{show_message.sender.username}}</p>
     <p><b>Konu</b>: {{show_message.title}}</p>
     <p><b>Mesaj</b>:<pre> {{show_message.body}}</pre></p>
     {% if mailbox=='inbox' %}<a href="{{url_for('mail.write', reply_id=show_message.id)}}">Cevapla</a>{% endif %}
  {% endif %} 



{% endblock %}

