{% extends "base.html" %}

{% block app_content %}
    <h1>Profil Görüntüleme</h1>
    {% if puser.avatar %}<img src="data:image/png;base64, {{puser.avatar}}"><br>{% endif %}
    <b>Kullanıcı Adı: </b>{{puser.username}}
    {% if puser.last_login %} 
      <br></bt><b>Son Giriş: </b>{{puser.last_login.ctime()}}
    {% else %}
      <br> Bu kullanıcı hiç giriş yapmadı
    {% endif %}
    <br><b>Hakkında: </b> {{puser.about_me}}
    {% if puser.email_public %}
      <br><b>E-Posta</b>: {{puser.email}}
    {% endif %}
    
{% endblock %}
