{% from 'bootstrap5/form.html' import render_form %}

{% extends 'base.html' %}

{% block body %}
        <h2>Profiliniz</h2>
        <form class="form" method="POST" enctype="multipart/form-data">
            {% if current_user.profile.avatar %}
            <div>
                <img src="data:image/png;base64, {{current_user.profile.avatar}}">
                
                <button type="button" class="btn btn-outline-danger btn-sm" onclick="myFunction()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                    </svg>
                    Sil
              </button>
                

            </div>
            {% endif %}
            

          {{ render_form(form) }}
        </form>
<script>
function myFunction() {
  if (confirm("Avatarı silmek istediğinden emin misin?") == true) {
        window.location.href = "{{url_for('auth.profile_avatar_delete')}}";
  } 
}
</script>

{% endblock %}
