{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{{form.hidden_tag()}}

<div class="mb-3">
    {{form.avatar.label}}
    
    {% if current_user.profile and current_user.profile.avatar %}
        <br><img src="data:image/png;base64, {{current_user.profile.avatar}}"> <a href="#" onClick="confirm_delete()" class="btn btn-danger">Avatarı Sil</a>
    {% endif %}
    
    {{form.avatar(class="form-control")}}
                    
</div>


{{render_field(form.name)}}
{{render_field(form.lastname)}}
{{render_field(form.about)}}
{{render_field(form.submit)}}

</form>

<script>

function confirm_delete() {

    if (confirm("Avatarı silmek istediğinden emin misin?") == true) {
      
      window.location.href = "{{ url_for('auth.profile_delete') }}"
      
    } 

}

</script>
{% endblock %}
