{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Profile</h1>
    <a href="{{url_for('auth.profile_show', username=current_user.username)}}" target="_NEW">Başkaları nasıl görür?</a>
    <form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}
    <div class="row">
        <div class="col-md-4">
        
            {% if current_user.avatar %}
            <img src="data:image/png;base64, {{current_user.avatar}}">
            {% endif %}
            {{ wtf.form_field(form.avatar) }}
            {{ wtf.form_field(form.about_me) }}
            {{ wtf.form_field(form.email_public) }}
            {{ wtf.form_field(form.submit) }}
        </div>
    
    
    </div>

{% endblock %}
