{% from 'macros.html' import tarih %}
{% extends "base.html" %}

{% block icerik %}
    <h1>Merhaba, 
    {% if current_user.is_anonymous %}
        Misafir Kullanıcı
    {% else %}
        {{ current_user.name }} {{ current_user.lastname }} [{{ current_user.email }}]!
    {% endif %}
    </h1>
    
    {% for post in page.items %}
    
    
        <div class="card">
          <div class="card-header  d-flex">
            {{post.author.name}} {{post.author.lastname}}  <span class="ms-auto text-muted">{{tarih(post.timestamp)}}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <ul>
                    {% for comment in post.comments %}
          <li>{{ comment.body }} [{{ comment.author.name }}  {{comment.author.lastname }}-  <i>{{tarih(comment.timestamp)}}</i>] </li>
        {% endfor %}
            </ul>
            <div class="d-flex justify-content-end"> <a href="{{url_for('post.new_comment', pid=post.id)}}"><i class="fa fa-mail-reply"></i></a> </div>
          </div>
        </div>
        
    <br>
    
    {% endfor %}


  {% if page.has_prev %} <a class="text-decoration-none" href="{{url_for('index.index', current_page=page.prev_num)}}"> &lt;</a> {% endif %} &nbsp;

  {% for p in page.iter_pages() %}
    {% if p %}
      {% if p == current_page %}
        <span class="text-danger">{{p}}</span>
      {% else %}
        <a class="text-decoration-none" href="{{url_for('index.index', current_page=p)}}">{{p}}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}


{% if page.has_next %} &nbsp; <a class="text-decoration-none" href="{{url_for('index.index', current_page=page.next_num)}}"> &gt;</a> {% endif %}


{% endblock %}
