{% extends "base.html" %}

{% block icerik %}
    <h1>Merhaba, 
    {% if current_user.is_anonymous %}
        Misafir Kullanıcı
    {% else %}
        {{ current_user.name }} {{ current_user.lastname }} [{{ current_user.email }}]!
    {% endif %}
    </h1>
    
    {% for post in posts %}
    <div>
        <p>{{ post.author.username }} <i>{{post.timestamp}} tarihinide </i>dedi ki: <b>{{ post.body }}</b></p>
        <ul>
        {% for comment in post.comments %}
          <li> {{ comment.author.username }} yorumladı: <b>{{ comment.body }}</b> [ <i>{{comment.timestamp}}</i>] </li>
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% endblock %}
