{% from 'macros.html' import tarih %}
{% extends "base.html" %}

{% block icerik %}
    <h1>Merhaba, 
    {% if current_user.is_anonymous %}
        Misafir Kullanıcı
    {% else %}
        {{ current_user.name }} {{ current_user.lastname }} [{{ current_user.email }}]!
    {% endif %}
    </h1>
    
    {% for post in posts %}
    
    
        <div class="card">
          <div class="card-header  d-flex">
            {{post.author.name}} {{post.author.lastname}}  <span class="ms-auto text-muted">{{tarih(post.timestamp)}}</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.body}}</p>
            <ul>
                    {% for comment in post.comments %}
          <li> {{ comment.author.username }} yorumladı: <b>{{ comment.body }}</b> [ <i>{{tarih(comment.timestamp)}}</i>] </li>
        {% endfor %}
            </ul>
            
          </div>
        </div>
        
    <br>
    
    
    

    {% endfor %}
{% endblock %}
