{% from 'bootstrap5/form.html' import render_field %}

{% extends "base.html" %}

{% block icerik %}
    <h2>Profil</h2>
 
<form action="" method="post" class="form" enctype="multipart/form-data" role="form">
  {{ form.csrf_token }} 
    
 
  {{ render_field(form.about_me) }}
  
  {% if avatar %}
  <img src="data:image/png;base64, {{avatar}}" alt="Avatar" style="width:200px;">  
    <button type="button" class="btn btn-danger">
      <a href="#" onClick="confirm_avatar_deletion();"><i class="fa fa-trash"></i> Sil</a>
    </button>
  {% endif %}
  {{ render_field(form.avatar) }}
  
  {{ render_field(form.birthdate) }}
  
  {{ render_field(form.submit) }}
    
</form>

<script>

function confirm_avatar_deletion() {
  if (confirm("Avatarını silmek istediğinden emin misin?") == true) {
    window.location.replace("{{url_for('auth.delete_avatar')}}");
  }
}

</script>

{% endblock %}
